In [1]:
import re
import bs4
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [10]:
toronto_data = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
bs = BeautifulSoup(toronto_data, 'lxml')

In [44]:
data = bs.find('table', class_="wikitable sortable")
df = pd.read_html(str(data))[0]
column_names = df.columns
list = df.drop([0])
list.columns = column_names
list.head()
new_list = list[-list.Borough.isin(["Not Assigned"])]
new_list.head()

  Postal Code           Borough                     Neighbourhood
1         M2A      Not assigned                      Not assigned
2         M3A        North York                         Parkwoods
3         M4A        North York                  Victoria Village
4         M5A  Downtown Toronto         Regent Park, Harbourfront
5         M6A        North York  Lawrence Manor, Lawrence Heights

In [45]:
new_list['Neighbourhood'][new_list['Neighbourhood'] == "Not Assigned"] = new_list['Borough']
grouping = new_list.groupby(['Postal Code', 'Borough'], as_index = False).agg({'Neighbourhood': ['sum']})
grouping.head()

  Postal Code      Borough                           Neighbourhood
                                                               sum
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [47]:
print(grouping.columns.size)
type(grouping)

3

pandas.core.frame.DataFrame

In [48]:
grouping.columns = column_names
grouping.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [49]:
for i in grouping['Neighbourhood']:
    ','.join(i)
print(grouping.head())
print(grouping.shape)

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae
(179, 3)