##### Importing Needed Packages

In [1]:
import json
import wget
import folium
import requests
import numpy as np
import pandas as pd
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
from geopy.geocoders import Nominatim
pd.set_option('display.max_rows', None)
from pandas.io.json import json_normalize
pd.set_option('display.max_columns', None)
from sklearn.tree import DecisionTreeClassifier

### Data Preparation
#### Data Preproccessing
##### Downloading the data and assigning it to a dataframe

In [2]:
wget.download('https://drive.google.com/uc?id=1caRMmH_ZC-mgnGOwgDdJhmiTHnztliQy&export=download', 'southcarolina_data.json')

100% [..............................................................................] 92840 / 92840

'southcarolina_data (10).json'

In [3]:
with open('southcarolina_data (1).json') as json_data:
    southcarolina_data = json.load(json_data)

In [4]:
county_data = southcarolina_data

In [5]:
column_names = ['City', 'County', 'Latitude', 'Longitude']

In [6]:
counties = pd.DataFrame(columns = column_names)

In [7]:
for i in county_data:
    city = county_name = i["City"]
    county_name = i["County"]
    county_lat = i["Latitude"]
    county_long = i["Longitude"]
    county_coords = county_lat + county_long
    counties = counties.append({'City': city,
                               'County': county_name,
                               'Latitude': county_lat,
                               'Longitude': county_long}, ignore_index = True)

#### Filtering out Charleston

In [8]:
counties['City'].unique()
counties['City'].nunique()

376

In [9]:
CH = counties[counties['City'] == 'Charleston']
print(CH.head())
print(CH.shape)
print(CH)

           City      County   Latitude  Longitude
193  Charleston  Charleston  32.779126   -79.9355
194  Charleston  Charleston   32.84885  -79.85773
195  Charleston  Charleston  32.799326  -79.94813
198  Charleston  Charleston  32.918757   -80.0228
199  Charleston  Charleston  32.794841    -80.005
(16, 4)
           City      County   Latitude  Longitude
193  Charleston  Charleston  32.779126   -79.9355
194  Charleston  Charleston   32.84885  -79.85773
195  Charleston  Charleston  32.799326  -79.94813
198  Charleston  Charleston  32.918757   -80.0228
199  Charleston  Charleston  32.794841    -80.005
200  Charleston  Charleston   32.84885  -79.85773
202  Charleston  Charleston   32.73727  -79.95409
203  Charleston  Charleston   32.84885  -79.85773
204  Charleston  Charleston  32.821238  -80.05353
206  Charleston  Charleston   32.84885  -79.85773
207  Charleston  Charleston   32.84885  -79.85773
211  Charleston  Charleston   32.84885  -79.85773
212  Charleston  Charleston  32.981952  -80.07363
213  Charleston  Charleston  32.783076  -79.93701
214  Charleston  Charleston  32.786176  -79.94711
263  Charleston    Berkeley   32.91583   -79.8846

#### Visualizing the Data

In [10]:
address = "Charleston, SC"

In [11]:
geolocation = Nominatim(user_agent = "SC Explorer")
location = geolocation.geocode(address)
latitude = location.latitude
longitude = location.longitude

##### Creating a map of Charleston using the Latitude and Longitude values

In [12]:
map_CH = folium.Map(location = [latitude, longitude], zoom_start = 10)

##### Adding Markers to the Map

In [13]:
CH['Latitude'] = CH.Latitude.astype(float)
CH['Longitude'] = CH.Longitude.astype(float)
CH.dtypes

<ipython-input-13-b2d76b5f6ee1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CH['Latitude'] = CH.Latitude.astype(float)
<ipython-input-13-b2d76b5f6ee1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CH['Longitude'] = CH.Longitude.astype(float)

City          object
County        object
Latitude     float64
Longitude    float64
dtype: object

In [14]:
for i, j, k in zip(CH['Latitude'], CH['Longitude'], CH['County']):
    k = folium.Popup(k, parse_html = True)
    folium.CircleMarker(
    [i, j], 
    radius = 7,
    popup = k,
    color = '#660000',
    fill = True,
    fill_color = '#f0ab00',
    fill_opacity = 0.7,
    parse_html = False).add_to(map_CH)

In [15]:
map_CH

#### Gather information on Charleston County

In [16]:
CH_Charleston = CH[CH['County'].str.contains('Charleston')].reset_index(drop = True)
CH_Charleston

          City      County   Latitude  Longitude
0   Charleston  Charleston  32.779126  -79.93550
1   Charleston  Charleston  32.848850  -79.85773
2   Charleston  Charleston  32.799326  -79.94813
3   Charleston  Charleston  32.918757  -80.02280
4   Charleston  Charleston  32.794841  -80.00500
5   Charleston  Charleston  32.848850  -79.85773
6   Charleston  Charleston  32.737270  -79.95409
7   Charleston  Charleston  32.848850  -79.85773
8   Charleston  Charleston  32.821238  -80.05353
9   Charleston  Charleston  32.848850  -79.85773
10  Charleston  Charleston  32.848850  -79.85773
11  Charleston  Charleston  32.848850  -79.85773
12  Charleston  Charleston  32.981952  -80.07363
13  Charleston  Charleston  32.783076  -79.93701
14  Charleston  Charleston  32.786176  -79.94711

 ### API Credentials

##### Foursquare ID

In [17]:
FOURSQ_ID = 'QAEVDWHT0WJS0IHB2FNGSJY0TDPY41LM3VSRF00QDJ1PQMZT'

##### Foursquare Secret

In [18]:
FOURSQ_SECRET = 'UJETXANWOQRLRUVAVMR1L4LHSTDSFBMTVKOJ2TKX2UTR4XCG'

##### Foursquare API Version

In [19]:
VERSION = '20180605'

#### Categorizing the Venues

In [20]:
county_latitude = CH_Charleston.loc[0, 'Latitude']
county_longitude = CH_Charleston.loc[0, 'Longitude']

##### The number of venues I want the Foursquare API to return

In [21]:
LIMIT = 100

##### Assigning the Radius

In [22]:
radius = 1000

##### Creation of the URL

In [23]:
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    FOURSQ_ID,
    FOURSQ_SECRET,
    VERSION,
    county_latitude,
    county_longitude,
    radius,
    LIMIT)

##### Displaying the URL

In [24]:
url

'https://api.foursquare.com/v2/venues/explore?&client_id=QAEVDWHT0WJS0IHB2FNGSJY0TDPY41LM3VSRF00QDJ1PQMZT&client_secret=UJETXANWOQRLRUVAVMR1L4LHSTDSFBMTVKOJ2TKX2UTR4XCG&v=20180605&ll=32.779126,-79.9355&radius=1000&limit=100'

In [25]:
results = requests.get(url).json()

##### Extraction for Categorical Information about the Venues

In [26]:
def get_category_type(row):
    try:
        categories_row = row['categories']
    except:
        categories_row = row['venue.categories']
    if len(categories_row) == 0:
        return None
    else:
        return categories_row[0]['name']

In [27]:
venue = results['response']['groups'][0]['items']

##### JSON Normalization

In [28]:
nearby_venues = json_normalize(venue)

<ipython-input-28-0b815483c63c>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  nearby_venues = json_normalize(venue)

##### Filtering the columns

In [29]:
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues = nearby_venues.loc[:, filtered_columns]

##### Filtering the categorical values for each row

In [30]:
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis = 1)

##### Cleaning the columns

In [31]:
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

In [32]:
nearby_venues.head()

                   name          categories        lat        lng
0           Le Farfalle  Italian Restaurant  32.780793 -79.934589
1  Queen Street Grocery   Food & Drink Shop  32.777549 -79.936078
2   Second State Coffee         Coffee Shop  32.779859 -79.937648
3               Bin 152            Wine Bar  32.777886 -79.932836
4   Kings Courtyard Inn     Bed & Breakfast  32.779517 -79.932967

#### Statistics of Charleston County

##### Create the API Request

##### Create a GIT Request

##### Return significant information for the venues

In [33]:
def getNearbyVenues(name, lat, lng, radius = 500):
    venues = []
    for i, j, k in zip(name, lat, lng):
        print(i)
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            FOURSQ_ID, 
            FOURSQ_SECRET, 
            VERSION, 
            j, 
            k, 
            radius, 
            LIMIT)
        results = requests.get(url).json()["response"]["groups"][0]["items"]
        venues.append([(
            i,
            j,
            k,
            x['venue']['name'],
            x['venue']['location']['lat'],
            x['venue']['location']['lng'],
            x['venue']['id'],
            x['venue']['categories'][0]['name']) for x in results])
    nearby = pd.DataFrame([y for z in venues for y in z])
    nearby.columns = ['County', 
                     'County Latitude', 
                     'County Longitude', 
                     'Venue', 
                     'Venue Latitude', 
                     'Venue Longitude', 
                     'Venue ID', 
                     'Venue Category']
    return nearby

In [34]:
chVenues = getNearbyVenues(name = CH_Charleston['County'], 
                          lat = CH_Charleston['Latitude'], 
                          lng = CH_Charleston['Longitude'])

Charleston
Charleston
Charleston
Charleston
Charleston
Charleston
Charleston
Charleston
Charleston
Charleston
Charleston
Charleston
Charleston
Charleston
Charleston

In [35]:
chVenues.groupby('County').count()

,County Latitude,County Longitude,Venue,Venue Latitude,Venue Longitude,Venue ID,Venue Category
County,,,,,,,
Charleston,195,195,195,195,195,195,195

In [36]:
chVenues
chVenues.head()

,County,County Latitude,County Longitude,Venue,Venue Latitude,Venue Longitude,Venue ID,Venue Category
0,Charleston,32.779126,-79.9355,Le Farfalle,32.780793,-79.934589,578c5be0cd104590a21bb78a,Italian Restaurant
1,Charleston,32.779126,-79.9355,Queen Street Grocery,32.777549,-79.936078,4b60c7f9f964a52007f929e3,Food & Drink Shop
2,Charleston,32.779126,-79.9355,Second State Coffee,32.779859,-79.937648,4f062e3db8f7dcbb409c166e,Coffee Shop
3,Charleston,32.779126,-79.9355,Fulton Five,32.779654,-79.933429,4bdb1e1ff34520a196eddfea,Italian Restaurant
4,Charleston,32.779126,-79.9355,Kings Courtyard Inn,32.779517,-79.932967,4bcf809f0ffdce72408eb2c0,Bed & Breakfast

##### One Hot Encoding

In [37]:
chOnehot = pd.get_dummies(chVenues[['Venue Category']], prefix = "", prefix_sep = "")

##### Add County Column back to DataFrame

In [38]:
chOnehot['County'] = chVenues['County']

##### Move County Column to the First Column

In [39]:
fixed = [chOnehot.columns[-1]] + list(chOnehot.columns[:-1])
chOnehot = chOnehot[fixed]

In [40]:
chOnehot.head()

,County,American Restaurant,Antique Shop,Arts & Crafts Store,Athletics & Sports,Bar,Baseball Field,Bed & Breakfast,Bistro,Boutique,Breakfast Spot,Brewery,Burger Joint,Business Service,Caf,Candy Store,Caribbean Restaurant,Church,Clothing Store,Cocktail Bar,Coffee Shop,College Gym,Construction & Landscaping,Convenience Store,Creperie,Deli / Bodega,Dessert Shop,Disc Golf,Dive Bar,Electronics Store,Farmers Market,Fast Food Restaurant,Food & Drink Shop,Food Service,Food Truck,French Restaurant,Gift Shop,Gourmet Shop,Gym,Gym / Fitness Center,Hostel,Hotel,Hotel Bar,Ice Cream Shop,Intersection,Italian Restaurant,Korean Restaurant,Mediterranean Restaurant,Men's Store,Mexican Restaurant,Middle Eastern Restaurant,Moving Target,New American Restaurant,Nightclub,Other Great Outdoors,Outdoor Sculpture,Park,Pet Caf,Pharmacy,Pizza Place,Playground,Restaurant,Sandwich Place,Seafood Restaurant,Shopping Mall,Southern / Soul Food Restaurant,Sporting Goods Shop,Sports Bar,Theater,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Wine Bar,Wings Joint,Women's Store
0,Charleston,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Charleston,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Charleston,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Charleston,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Charleston,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [41]:
chGrouped = chOnehot.groupby('County').mean().reset_index()
chGrouped

,County,American Restaurant,Antique Shop,Arts & Crafts Store,Athletics & Sports,Bar,Baseball Field,Bed & Breakfast,Bistro,Boutique,Breakfast Spot,Brewery,Burger Joint,Business Service,Caf,Candy Store,Caribbean Restaurant,Church,Clothing Store,Cocktail Bar,Coffee Shop,College Gym,Construction & Landscaping,Convenience Store,Creperie,Deli / Bodega,Dessert Shop,Disc Golf,Dive Bar,Electronics Store,Farmers Market,Fast Food Restaurant,Food & Drink Shop,Food Service,Food Truck,French Restaurant,Gift Shop,Gourmet Shop,Gym,Gym / Fitness Center,Hostel,Hotel,Hotel Bar,Ice Cream Shop,Intersection,Italian Restaurant,Korean Restaurant,Mediterranean Restaurant,Men's Store,Mexican Restaurant,Middle Eastern Restaurant,Moving Target,New American Restaurant,Nightclub,Other Great Outdoors,Outdoor Sculpture,Park,Pet Caf,Pharmacy,Pizza Place,Playground,Restaurant,Sandwich Place,Seafood Restaurant,Shopping Mall,Southern / Soul Food Restaurant,Sporting Goods Shop,Sports Bar,Theater,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Wine Bar,Wings Joint,Women's Store
0,Charleston,0.025641,0.005128,0.005128,0.005128,0.015385,0.097436,0.010256,0.005128,0.015385,0.020513,0.005128,0.005128,0.005128,0.020513,0.005128,0.005128,0.010256,0.025641,0.010256,0.066667,0.005128,0.005128,0.015385,0.010256,0.010256,0.010256,0.005128,0.005128,0.015385,0.005128,0.005128,0.005128,0.005128,0.010256,0.010256,0.015385,0.010256,0.020513,0.030769,0.005128,0.046154,0.010256,0.015385,0.005128,0.015385,0.005128,0.005128,0.005128,0.005128,0.010256,0.005128,0.010256,0.010256,0.005128,0.005128,0.041026,0.005128,0.010256,0.015385,0.005128,0.041026,0.020513,0.010256,0.010256,0.046154,0.010256,0.005128,0.005128,0.005128,0.015385,0.010256,0.005128,0.010256

In [42]:
num = 5

In [43]:
for i in chGrouped['County']:
    print('~~~' + i + '~~~')
    temp = chGrouped[chGrouped['County'] == i].T.reset_index()
    temp.columns = ['venue', 'frequency']
    temp = temp.iloc[1:]
    temp['frequency'] = temp['frequency'].astype(float)
    temp = temp.round({'frequency': 2})
    print(temp.sort_values('frequency', ascending = False).reset_index(drop = True).head(num))

~~~Charleston~~~
                             venue  frequency
0                   Baseball Field       0.10
1                      Coffee Shop       0.07
2                            Hotel       0.05
3  Southern / Soul Food Restaurant       0.05
4                             Park       0.04

In [44]:
def mostCommonVenues(row, num):
    categories = row.iloc[1:]
    categoriesSorted = categories.sort_values(ascending = False)
    return categoriesSorted.index.values[0:num]

In [45]:
num = 10

In [46]:
indicators = ['st', 'nd', 'rd']

##### Columns according to the number of Top Venues

In [47]:
columns = ['County']
for i in np.arange(num):
    try:
        columns.append('{}{} Most Common Venue'.format(i + 1, indicators[i]))
    except:
        columns.append('{}th Most Common Venue'.format(i + 1))

##### New DataFrame

In [48]:
countiesVenues = pd.DataFrame(columns = columns)
countiesVenues['County'] = chGrouped['County']

In [49]:
for i in np.arange(chGrouped.shape[0]):
    countiesVenues.iloc[i, 1:] = mostCommonVenues(chGrouped.iloc[i, :], num)

In [50]:
countiesVenues.head()

,County,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym

#### K-Means Clustering

##### Number of Clusters

In [51]:
kclusters = 1

In [52]:
charlestonGrouped = chGrouped.drop('County', 1)

##### K-Means Clustering Method

In [53]:
kmeans = KMeans(n_clusters = kclusters, random_state = 0).fit(charlestonGrouped)

C:\Users\calebhwhite\miniconda3\lib\site-packages\sklearn\cluster\_kmeans.py:881: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

##### Cluster Label generated for the row in the DataFrame

In [54]:
kmeans.labels_[0:10]

array([0])

##### Clustering Label

In [55]:
countiesVenues.insert(0, 'Cluster Labels', kmeans.labels_)
charlestonMerged = CH_Charleston

##### Merging CH_Charleston with countiesVenues for latitude and longitude of Charleston

In [56]:
 charlestonMerged = charlestonMerged.join(countiesVenues.set_index('County'), on = 'County')

##### The Last Columns

In [57]:
charlestonMerged.head()

,City,County,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Charleston,Charleston,32.779126,-79.93550,0,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
1,Charleston,Charleston,32.848850,-79.85773,0,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
2,Charleston,Charleston,32.799326,-79.94813,0,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
3,Charleston,Charleston,32.918757,-80.02280,0,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
4,Charleston,Charleston,32.794841,-80.00500,0,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym

In [58]:
charlestonMerged.loc[charlestonMerged['Cluster Labels'] == 0, charlestonMerged.columns[[1] + list(range(5, charlestonMerged.shape[1]))]]

,County,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
1,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
2,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
3,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
4,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
5,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
6,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
7,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
8,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
9,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
10,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
11,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
12,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
13,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym
14,Charleston,Baseball Field,Coffee Shop,Southern / Soul Food Restaurant,Hotel,Park,Restaurant,Gym / Fitness Center,Clothing Store,American Restaurant,Gym

### Menu for Venues and Likes

In [59]:
charleston_menu = chVenues[chVenues['Venue Category'].str.contains(
    'American Restaurant|New American Restaurant|Coffee Shop|Southern / Soul Food Restaurant|Seafood Restaurant')].reset_index(drop = True)
charleston_menu

,County,County Latitude,County Longitude,Venue,Venue Latitude,Venue Longitude,Venue ID,Venue Category
0,Charleston,32.779126,-79.93550,Second State Coffee,32.779859,-79.937648,4f062e3db8f7dcbb409c166e,Coffee Shop
1,Charleston,32.779126,-79.93550,City Lights Coffee,32.780651,-79.932774,4b192e86f964a520d8d823e3,Coffee Shop
2,Charleston,32.779126,-79.93550,82 Queen,32.777916,-79.932343,4bd490756f6495218c9d6dec,Southern / Soul Food Restaurant
3,Charleston,32.779126,-79.93550,The Rise,32.782181,-79.934670,56f402e9498e7e44e27cb754,Coffee Shop
4,Charleston,32.779126,-79.93550,Husk,32.777976,-79.931996,4cbd2e0886dd952120b6ade6,Southern / Soul Food Restaurant
5,Charleston,32.779126,-79.93550,Charleston Grill,32.780890,-79.933037,4b7dc747f964a52011d42fe3,American Restaurant
6,Charleston,32.779126,-79.93550,Poogan's Porch,32.777994,-79.931867,4b4b588bf964a5203b9826e3,Southern / Soul Food Restaurant
7,Charleston,32.779126,-79.93550,Starbucks,32.781226,-79.933416,4b5f8468f964a52011bf29e3,Coffee Shop
8,Charleston,32.779126,-79.93550,Circa 1886 Restaurant,32.779861,-79.939899,4b899c92f964a520114632e3,Southern / Soul Food Restaurant
9,Charleston,32.779126,-79.93550,Peninsula Grill,32.781093,-79.931494,4b33ea6ff964a520f32125e3,American Restaurant
10,Charleston,32.779126,-79.93550,Eli's Table,32.778335,-79.931297,4e9326d355037de99da02419,Southern / Soul Food Restaurant
11,Charleston,32.779126,-79.93550,Hyman's Seafood,32.781794,-79.931633,4ab7f9caf964a520b07b20e3,Seafood Restaurant
12,Charleston,32.779126,-79.93550,The Watch Rooftop Kitchen & Spirits,32.781933,-79.934604,56afa65e498ec204e40fce67,New American Restaurant
13,Charleston,32.779126,-79.93550,Bitty & Beaus Coffee,32.779800,-79.930541,5aae8253cd441c1ee97c9408,Coffee Shop
14,Charleston,32.799326,-79.94813,Leon's Oyster Shop,32.798359,-79.945965,52f56c7e498ecffd4d0c96cb,Seafood Restaurant
15,Charleston,32.799326,-79.94813,Little Jack's Tavern,32.798817,-79.946582,5712ed9d498eaadf3c061b2b,American Restaurant
16,Charleston,32.799326,-79.94813,The Oyster Shed at Leon's,32.798474,-79.945664,565e3d65498e786f1db35e4f,Southern / Soul Food Restaurant
17,Charleston,32.783076,-79.93701,The Rise,32.782181,-79.934670,56f402e9498e7e44e27cb754,Coffee Shop
18,Charleston,32.783076,-79.93701,Second State Coffee,32.779859,-79.937648,4f062e3db8f7dcbb409c166e,Coffee Shop
19,Charleston,32.783076,-79.93701,Circa 1886 Restaurant,32.779861,-79.939899,4b899c92f964a520114632e3,Southern / Soul Food Restaurant
20,Charleston,32.783076,-79.93701,The Watch Rooftop Kitchen & Spirits,32.781933,-79.934604,56afa65e498ec204e40fce67,New American Restaurant
21,Charleston,32.783076,-79.93701,City Lights Coffee,32.780651,-79.932774,4b192e86f964a520d8d823e3,Coffee Shop
22,Charleston,32.783076,-79.93701,Charleston Grill,32.780890,-79.933037,4b7dc747f964a52011d42fe3,American Restaurant
23,Charleston,32.783076,-79.93701,Kudu Coffee & Craft Beer,32.787217,-79.937719,4b606ac2f964a520b1e429e3,Coffee Shop
24,Charleston,32.783076,-79.93701,Starbucks,32.781226,-79.933416,4b5f8468f964a52011bf29e3,Coffee Shop
25,Charleston,32.783076,-79.93701,Swamp Fox Restaurant & Bar,32.786009,-79.936426,4b7220ddf964a52016702de3,Southern / Soul Food Restaurant
26,Charleston,32.783076,-79.93701,Starbucks,32.785860,-79.936443,52869069498e3289da675936,Coffee Shop
27,Charleston,32.783076,-79.93701,Virginia's on King,32.787457,-79.937364,4b394982f964a520e35925e3,Southern / Soul Food Restaurant
28,Charleston,32.786176,-79.94711,Wickliffe House,32.786100,-79.946606,4b633208f964a520c8692ae3,American Restaurant
29,Charleston,32.786176,-79.94711,132 Spring Coffee & Kitchen Bar,32.789728,-79.948724,5c5c441be55d8b002c98e641,Coffee Shop
30,Charleston,32.786176,-79.94711,Starbucks,32.783536,-79.951200,4b8e8fe1f964a520d62833e3,Coffee Shop

##### Client ID

In [60]:
CLIENT_ID = 'QAEVDWHT0WJS0IHB2FNGSJY0TDPY41LM3VSRF00QDJ1PQMZT'

##### Client Secret

In [61]:
CLIENT_SECRET = 'UJETXANWOQRLRUVAVMR1L4LHSTDSFBMTVKOJ2TKX2UTR4XCG'

##### API Version

In [62]:
VERSION = '20180605'

In [63]:
VENUE_ID = charleston_menu['Venue ID'].loc[0]
url = 'https://api.foursquare.com/v2/venues/{}/menu?&client_id={}&client_secret={}&v={}'.format(
            VENUE_ID,
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION
            )
results = requests.get(url).json()

In [64]:
results

{'meta': {'code': 200, 'requestId': '5ff28d55e2c947606e8a4e85'},
 'response': {'menu': {'menus': {'count': 0}}}}

In [65]:
VENUE_ID = charleston_menu['Venue ID'].loc[1]
url = 'https://api.foursquare.com/v2/venues/{}/menu?&client_id={}&client_secret={}&v={}'.format(
            VENUE_ID,
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION
            )
results = requests.get(url).json()

In [66]:
results

{'meta': {'code': 200, 'requestId': '5ff28d556ef73c60c6daa910'},
 'response': {'menu': {'menus': {'count': 0}}}}

In [67]:
VENUE_ID = charleston_menu['Venue ID'].loc[2]
url = 'https://api.foursquare.com/v2/venues/{}/menu?&client_id={}&client_secret={}&v={}'.format(
            VENUE_ID,
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION
            )
results = requests.get(url).json()['response']['menu']['menus']['items']

In [68]:
results[0]['entries']['count']

8

In [69]:
total = []

In [70]:
total.append([(
    results[0]['entries']['items'][i]['name'].split(':')[0], 
    results[1]['entries']['items'][i]['name'].split(':')[0]) for i in range(0,4)])

In [71]:
totaldf = pd.DataFrame([i for j in total for i in j])

In [72]:
totaldf

                             0               1
0   Christmas Eve First Course        Starters
1  Christmas Eve Second Course          Salads
2   Christmas Eve Third Course    Dinner Sides
3             Nye First Course  Dinner Entres

In [73]:
VENUE_ID = charleston_menu['Venue ID'].loc[2]
url = 'https://api.foursquare.com/v2/venues/{}/likes?&client_id={}&client_secret={}&v={}'.format(
            VENUE_ID,
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION
            )
results_like = requests.get(url).json()['response']['likes']['count']
results_like

143

In [74]:
VENUE_ID = charleston_menu['Venue ID'].loc[3]
url = 'https://api.foursquare.com/v2/venues/{}/menu?&client_id={}&client_secret={}&v={}'.format(
            VENUE_ID,
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION
            )
results = requests.get(url).json()

In [75]:
results

{'meta': {'code': 200, 'requestId': '5ff28d56afd2f83d5f5c0568'},
 'response': {'menu': {'menus': {'count': 0}}}}

In [76]:
VENUE_ID = charleston_menu['Venue ID'].loc[4]
url = 'https://api.foursquare.com/v2/venues/{}/menu?&client_id={}&client_secret={}&v={}'.format(
            VENUE_ID,
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION
            )
results4 = requests.get(url).json()['response']['menu']['menus']

In [77]:
results4

{'count': 0}

In [78]:
totalfinal2 = []

In [79]:
VENUE_ID = charleston_menu['Venue ID'].loc[4]
url = 'https://api.foursquare.com/v2/venues/{}/likes?&client_id={}&client_secret={}&v={}'.format(
            VENUE_ID,
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION
            )
results_like2 = requests.get(url).json()['response']['likes']['count']
results_like2

543